@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('SOTbg1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    color: white;
    font-size: 30px;
    height: 200%; /* Ez a példa meghosszabbítja a tartalmat, hogy legyen mit görgetni */
    overflow-y: scroll; /* Függőleges görgetősáv mindig látható */
    background-attachment: fixed;
    
}


/*.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;  
    width: 50%;
    height: 100%;
} */

h1 {
    font-family: 'Pirata One', cursive;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 10px;
    color: black;
    font-size: 3em;
    letter-spacing: 2px;
    white-space: nowrap;
    overflow: hidden; 
}

img {
    display: block; /* Hogy a margók jól működjenek */
    margin: 0 auto; /* Középre igazítja a képet */
    margin: 100px;
}
